footer .end part{
    max-width: 1200px;
    height: 877px;
    flex-shrink: 0;
    background: tomato;
}
.container-first {
    max-width: 368px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 24px;
background: #FFF;
box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.10);
}